.heading
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
.field
{
    height: 30px;
    width: 350px;
    font-size: large;
}
.button
{
    height: 35px;
    margin-left: 10px;
    background-color: black;
    color: aliceblue;
    border-radius: 10%;
    cursor: pointer;
}
.records
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.task
{
    display: flex;
    align-items: center;
    width: 400px;
    justify-content: space-between;
    background-color: black;
    color: aliceblue;
    height: 35px;
    margin-top: 10px;    

}

.checkbox
{
    display: flex;
    align-items: center;
}
.checkbox .icon
{
    margin-right: 5px;
    font-size: 15px;
}

.checkbox div span {
    
    margin: 0px 0px 0px 320px;
}

.task div .icon {
    cursor: pointer;
}
.cross_line
{
    text-decoration: line-through;
}